<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('Ingredienti')}" />

<body>
    <div th:replace="~{fragments/header :: header('ingredients')}" />

    <main class="container mb-5">
        <h3 class="my-3">I Nostri Ingredienti</h3>

        <form class="input-group mw-30 my-3" th:action="@{/ingredients/create}" method="post"
            th:object="${new_ingredient}">
            <input type="text" class="form-control" placeholder="Aggiungi un nuovo ingrediente..." th:field="*{name}"
                th:errorClass="is-invalid" aria-describedby="create-button">
            <button class=" btn btn-primary" type="submit" id="create-button">
                Aggiungi
            </button>
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </ul>
            </div>

        </form>

        <div class="text-center fs-5 fw-700" th:unless="${ingredients.size() > 0}">
            Non ci sono ingredienti disponibili
        </div>

        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-4" th:if="${ingredients.size() > 0}">

            <div class="col" th:each="ingredient: ${ingredients}" th:object="${ingredient}">
                <div class="card">
                    <div class="card-body">
                        <div class="my-1 fs-5 fw-bold">[[*{name}]]</div>
                        <form style="display: inline;" th:action="@{/ingredients/delete/{id}(id = *{id})}"
                            method="post">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Elimina
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </main>

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>