<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('Nuova pizza')}" />

<body>
    <div th:replace="~{fragments/header :: header('')}" />

    <main class="container">
        <h3 class="text-center my-3">Crea una nuova pizza</h3>

        <form class="px-5" th:action="@{/pizzas/create}" method="post" th:object="${pizza}">
            <div class="mb-3">
                <label class="form-label" for="input-name">Nome: </label>
                <input id="input-name" class="form-control" type="text" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="input-description">Descrizione: </label>
                <textarea id="input-description" class="form-control" type="text" th:field="*{description}"
                    rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="input-image">Immagine / url: </label>
                <input id="input-image" class="form-control" type="text" th:field="*{image}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="input-price">Prezzo: </label>
                <input id="input-price" class="form-control" type="text" th:field="*{price}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check" th:each="ingredient: ${ingredients}">
                    <input class="form-check-input" type="checkbox" th:value="${ingredient.id}"
                        th:id="|check-${ingredient.id}|" th:field="${pizza.ingredients}">
                    <label class="form-check-label" th:for="|check-${ingredient.id}|">
                        [[${ingredient}]]
                    </label>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Crea</button>
        </form>

    </main>

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>