<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head(${pizza.name})}" />

<body>
    <div th:replace="~{fragments/header :: header('')}" />

    <main class="container d-flex flex-column align-items-center">

        <div class="card text-center my-5" th:object="${pizza}">
            <div class="row g-0">
                <div class="col-md-8">
                    <img th:src="*{image}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-4" style="min-width: fit-content;">
                    <div class="card-body">
                        <h3 class="card-title">[[*{name}]]</h3>
                        <p class="card-text">€[[*{price}]]</p>
                        <p class="card-text">[[*{description}]]</p>
                        <p class="card-text" th:if="${ingredients.size > 0}">
                            <span class="fw-bold"> Ingredienti: </span>
                            <span th:each="ingredient, status : ${ingredients}">
                                [[${ingredient}]]<th:block th:if="${!status.last}">, </th:block>
                            </span>
                        </p>

                        <div>
                            <a class="btn btn-success btn-sm" th:href="@{/pizzas/edit/{id}(id = *{id})}">Modifica</a>
                            <div th:replace="~{fragments/modal :: trigger(*{id})}" />
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div>
            <div class="d-flex gap-2 justify-content-between align-items-center">
                <h2>Offerte speciali</h2>
                <a th:href="@{{id}/create-offer(id = ${pizza.id})}" class="btn btn-primary">Crea una nuova offerta
                    speciale</a>
            </div>
            <div class="text-center fs-4 fw-700" th:unless="${offers.size() > 0}">Non ci sono offerte disponibili</div>

            <table class="table" th:if="${offers.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Offerta</th>
                        <th scope="col">Data di Inizio</th>
                        <th scope="col">Data di Fine</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="offer: ${offers}" th:object="${offer}">
                        <th scope="row">[[*{id}]]</th>
                        <td>[[*{title}]]</td>
                        <td>[[*{startDate}]]</td>
                        <td>[[*{endDate}]]</td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{/offers/show/{id}(id = *{id})}">Scopri</a>
                            <a class="btn btn-success btn-sm" th:href="@{/offers/edit/{id}(id = *{id})}">Modifica</a>
                            <form style="display: inline;" th:action="@{/offers/delete/{id}(id = *{id})}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                            </form>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="~{fragments/modal :: modal(${pizza.name}, ${pizza.id})}" />
    </main>

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>